* {
   margin: 0;
   padding: 0;
}

body {
   margin-left: 66px;
   margin-top: 69px;
   font-family: 'Exo 2', sans-serif;
}

h1 {
   width:736px;
   height:147px;
   margin-left: 41px;
   margin-bottom: 7px;
   font-size: 70pt;
   line-height: 89px
}

h2 {
   width:430px;
   font-weight:100;
   font-size:66pt;
   font-weight:100;
   margin-left:163px;
   margin-top: 7px;
}

.songs {
   margin-left:35px;
   font-size:24pt;
   width: 380px;
   height: 515px;
}

.img-artists{
   font-size:27pt;
   font-weight: 200;
   margin-bottom: 150px;
}
