* {
   margin: 0;
   padding: 0;
}


body{
   width: 1024px;
   margin: auto;
}

h1 {
   font-family: 'Averia Libre', cursive;
   font-size: 80px;
   background: transparent url('../img/web-background.jpg');
   margin-top: 0px;
   margin-bottom: 24px;
   text-align: center;
}
#album-container {
   display:flex;
   font-family:'Oswald', sans-serif;
}

.album-img-artists {
   font-size: 20px;
   text-align: center;
   margin-bottom: 28px;
   margin-right: 50px;
   margin-left: 200px;
}

img {
   width: 300px;
}


.album-info {
   font-size: 20px;
   text-align: center;
   margin-bottom: 18px;
   margin-left: 50px;
   margin-right: 200px;
}

#album-review{
   margin: 28px;
   margin-left: 115px;
   margin-right: 115px;
   font-family:'Oswald', sans-serif;
   font-size: 20px;
}

p{
   text-align: center
}

cite {
   margin-top: 10px;
}
